body {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  text-align: center;
  align-content: center;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: space;
}

#score {
  border: 8px solid rgb(62, 95, 95);
  width: 900px;
  height: 150px;
  justify-self: center;
  margin: 0 auto;
  border-top: none;
  background-image: url('/Users/nicholasphillips/Downloads/posta.jpg');
  background-position: 90%;
  opacity: 90%;
  border-radius: 40px;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  padding-bottom: 10px;
  
  
  
}

h1 {
  font-size: 60px;
  font-family: ferrum;
  font-weight: 900;
  text-shadow: darkblue 11px 8px 11px;
  color: aliceblue;
  margin: 0;   
} 

canvas {
  border: 5px white dashed;
  border-bottom: none;
  background-color: #222;
  /* width: 900px;
  height: 500px; */
  margin: 0 auto;
  border-radius: 30px;
  background-image: url('https://i.imgur.com/yjPQyWI.png');
  background-size: 100%;
  background-blend-mode: hard-light;
}
  
  
.button{
  height: 40px;
  background-color: bisque;
  font-size: 20px;
  margin: 20px;
}

  
  


  

  
  
  
 
   
 
 

   
    
 
  
  
  

 
 